@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Questrial&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #414042;
}

body {
    display: flex;
    flex-direction: column;
}

header,
section,
footer {
    width: 1440px;
}

input {
    width: 100%;
}

hr {
    background-color: #00548c;
    border: none;
    height: 1px;
}

section {
    display: flex;
}

section > div {
    flex-basis: 50%;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
}

.heading {
    gap: 150px;
}

.left,
.right {
    padding-top: 70px;
}

.right {
    align-self: flex-end;
}

.padding {
    padding: 0 75px 70px;
}

.blue {
    background-color: #00548c;
}

.grey {
    background-color: #f4f4f4;
}

input:disabled {
    background-color: rgb(235, 235, 235);
}

.text-blue {
    color: #00548c;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__header {
    padding: 70px 0px 40px;
}

.form__footer {
    display: flex;
    flex-grow: 0;
    gap: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 410px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 23px;
    height: 23px;
    min-width: 23px;
    border-radius: 1px;
    border: 1px solid #414042;
    padding: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.field__checkbox {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.field__checkbox > label {
    margin: 0;
    margin-left: 8px;
}

input[type="checkbox"]::before {
    content: "";
    width: 13px;
    height: 13px;
    transform: scale(0);
    background-color: #009978;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.field__checkbox--text {
    margin-left: 33px;
    margin-bottom: 15px;
}

.field__checkbox:has(+ .field__checkbox--text) {
    margin-bottom: 8px;
}

.form__fields--row {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 35px;
}

.checkbox {
    align-items: flex-start;
}

.form__fields--row:last-child {
    margin-bottom: 70px;
}

label {
    margin-bottom: 10px;
}

input,
select {
    height: 46px;
    border: 1px solid #414042;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 40px 0 15px;
}

.custom-select select {
    appearance: none;
    cursor: pointer;
}

.custom-select {
    position: relative;
}

.custom-select::after {
    content: "";
    position: absolute;
    background: no-repeat url(assets/arrow.svg);
    width: 20px;
    height: 10px;
    bottom: 16px;
    right: 15px;
    pointer-events: none;
}

.hidden {
    display: none;
}

h1 {
    font-size: 50px;
    font-family: "ClearfaceSerial", serif;
    font-weight: 700;
}

h2 {
    font-size: 37px;
    font-family: "ClearfaceSerial", serif;
    font-weight: 700;
    margin-top: 30px;
}

.small {
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

.button {
    padding: 12px 60px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.button--next {
    background-color: #009978;
}

.button--next:hover {
    background-color: #00614c;
}

.button--prev {
    background-color: #2d3236;
}

.button--prev:hover {
    background-color: #191c1f;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 55px 75px;
}

footer p {
    font-size: 13px;
    line-height: 19px;
    color: #414042;
}

textarea {
    height: 125px;
    border: 1px solid #414042;
    border-radius: 4px;
    resize: none;
    padding: 15px;
    font-size: 18px;
}

.sub-label {
    font-size: 18px;
    line-height: 27px;
}

label:has(+ .sub-label) {
    margin-bottom: 5px;
}

.no-input {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1440px) {
    header,
    section,
    footer {
        width: 100%;
    }

    img {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1024px) {
    section,
    .form__fields--row {
        flex-direction: column;
    }

    .field {
        width: 100%;
    }

    .mbl-hide {
        display: none;
    }

    .mbl-show {
        display: block !important;
    }

    .heading {
        gap: 0;
    }

    .padding {
        padding: 0 15px 60px;
    }

    footer {
        padding: 50px 15px;
    }

    .left {
        padding-top: 30px;
    }

    .right {
        padding-top: 30px;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 425px) {
    .form__footer {
        flex-direction: column-reverse;
    }

    .button {
        text-align: center;
    }
}
